<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685153417486-n7977l5uqop44oidqv6drginofm3r41n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685153417486-n7977l5uqop44oidqv6drginofm3r41n</string>
	<key>API_KEY</key>
	<string>AIzaSyAe9nAEHv-a_kpw2y6fuc9Q4JCfbLkMktY</string>
	<key>GCM_SENDER_ID</key>
	<string>685153417486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geoLearn</string>
	<key>PROJECT_ID</key>
	<string>geo-learn-3c99a</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-learn-3c99a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685153417486:ios:9a8c3daf329d5d1e713f5f</string>
</dict>
</plist>